@charset "ISO-8859-1";
body{
	background-color:#C3FDB8;
}

#signin{
	width:100px;
	height:50px;
	float: right;
	
}
h1{
        width:600px;
	margin-left:500px;
	margin-bottom:0px;
	margin-top:0px;
 	float: left;
	font-size:42px;
	
}
hr{
clear:left;}

p{
	width: 700px;
	float: right;
	margin-right:400px;
	font-size:16px;
	border-left: solid #cc1010;
	padding: 50px;
}
#navigation{
	margin-left:50px;
	width :50px;
	float: left;
	clear:left;
  	
}
ul {
     float: left;
     list-style-type: none;
     margin: 0;
     padding: 4px;
    width: 0px;
} 

li a {
	padding:4px
     display: block;
	font-size:25px;
} 
