
div{
	
	width:600px;
	
	margin-left:400px;
	border-style: solid;
	border-color: #0088dd;
	border-radius: 25px;
	padding:4px;
}


p { 
	font-family: arial;
	font-size: 40pt;
	margin-left:420px;
	
}
a{
	line-height: 3em;
	font-size:25px;
	padding:20px;
}